<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everything</title>
</head>

<body>
    <div id="container" data-zombitron='{
        "name": "everything",
        "orientation": {
            "alpha": "/demo/alpha",
            "beta": "/demo/beta",
            "gamma": "/demo/gamma"
        },
        "acceleration": {
            "x": "/demo/acceleration_x",
            "y": "/demo/acceleration_y",
            "z": "/demo/acceleration_z"
        } 
    }'>

        <div id='XY' data-zombitron='{
            "type": "sliderxy",
            "x": "/demo/x",
            "y": "/demo/y",
            "cursor" : true
        }'>
        </div>

        <div id='button1' data-zombitron='{
            "type": "button",
            "toggle": true,
            "value": "/demo/button1"
        }'></div>

        <div id='button2' data-zombitron='{
            "type": "button",
            "toggle": false,
            "value": "/demo/button2"
        }'></div>

        <button id="mic"></button>

        <div id='slider2' data-zombitron='{
            "type": "slider",
            "orientation" : "horizontal",
            "value": "/demo/slider2",
            "response" : "absolute",
            "cursor" : false
        }'></div>

        <div id='slider21' data-zombitron='{
            "type": "slider",
            "orientation" : "horizontal",
            "value": "/demo/slider21",
            "response" : "absolute",
            "reversed" : true,
            "cursor" : false
        }'></div>

        <div id='slider1' data-zombitron='{
            "type": "slider",
            "orientation" : "vertical",
            "value": "/demo/slider1",
            "cursor" : false
        }'></div>

        <div id='slider11' data-zombitron='{
            "type": "slider",
            "orientation" : "vertical",
            "value": "/demo/slider11",
            "cursor" : false,
            "reversed" : true
        }'></div>
    </div>
    <script type="text/javascript" src="/zombitron/client/zombiterface.js"></script>
    <script>
        addEventListener("DOMContentLoaded", () => {
            let audioContext;
            let mediaStream;
            let processor;
            let isMicOn = false;
            let ws;
            const micButton = document.getElementById("mic");
            if (!micButton) {
                console.error("Cannot find the mic!");
            }

            window.addEventListener("zombiterfaceready", (ev) => {
                ws = window.zombitron.zombiterface.socket;
                console.log("Socket ready");
            });
            micButton.onclick = (e) => {
                isMicOn = !isMicOn;
                if (isMicOn) {
                    if (audioContext && mediaStream) {
                        return;
                    }
                    // Check if the browser supports the required APIs
                    if (!window.AudioContext ||
                        !window.MediaStreamAudioSourceNode ||
                        !window.AudioWorkletNode) {
                        alert('Your browser does not support the required mic APIs');
                        return;
                    }

                    // Request access to the user's microphone
                    navigator
                        .mediaDevices
                        .getUserMedia({ audio: true })
                        .then(stream => {
                            micButton.classList.add("on");
                            // Create the microphone stream
                            audioContext = new AudioContext();
                            mediaStream = audioContext
                                .createMediaStreamSource(stream);
                            processor = audioContext.createScriptProcessor(4096, 1, 1);
                            processor.onaudioprocess = function (ev) {
                                const channels = [];
                                for (let channel = 0; channel < ev.inputBuffer.numberOfChannels; channel++) {
                                    const b = ev.inputBuffer.getChannelData(channel);
                                    channels[channel]=b;
                                }
                                ws.send(`{"data":{"mic": "${channels}"}}`);
                            };
                            mediaStream.connect(processor);
                            mediaStream.connect(audioContext.destination);
                        })
                        .catch(err => {
                            console.error("Cannot init media devices", err);
                        });
                } else {
                    if (!audioContext) {
                        return;
                    }

                    if (audioContext && mediaStream) {
                        micButton.classList.remove("on");
                        mediaStream.disconnect();
                        audioContext.close();
                    }
                    mediaStream = undefined;
                    audioContext = undefined;
                }
            };
        });
    </script>

    <style>
        #XY {
            top: 10px;
            left: 10px;
        }

        #button1 {
            top: 100px;
            left: 250px;
        }

        #button2 {
            top: 100px;
            left: 300px;
        }

        #slider1 {
            top: 10px;
            left: 390px;
        }

        #slider11 {
            top: 10px;
            left: 430px;
        }

        #slider2 {
            top: 220px;
            left: 10px;
        }

        #slider21 {
            top: 260px;
            left: 10px;
        }

        #mic {
            height: 50px;
            width: 50px;
            position: absolute;
            top: 200px;
            left: 250px;
            border-radius: 25px;
            background-color: red;
        }

        #mic.on {
            background-color: aqua;
        }
    </style>
</body>

</html>